@media(min-width: 700px){
    .content{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

}



.content div{
    border: 1px solid black;
}

#main{
    flex-basis: 50%;
}

#side-content{
    flex-basis: 40%;
}

img{
    max-width: 100%;
}