@media(min-width: 700px){
    .content1{
        display: flex;
        
    }
    
    .content2{
        display: flex;
        justify-content: flex-start;
    }
    
}



.content1  div, .content2 div{
    border: 1px solid black;
    padding: 20px;
}

#box1{
    flex: 1;
    order: 1;
    
    
}

#box2{
    flex: 1;
    order: 2;
}

#box3{
    flex: 1;
    order: 3;
}

#box{
    flex-basis: 30%;
}